replicaCount: 1

image:
  repository: busybox
  pullPolicy: IfNotPresent
  tag: "latest"
  command: ["sleep"]
  args: ["infinity"]

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: airgap.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

toleraciones: []

affinity: {}
